* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(43, 24, 54);
}

.container {
    margin: 10px auto;
    width: 200px;
    padding-top: 100px;
}

.screen {
    background-color: white;
    width: 100%;
    height: 50px;
    position: relative;
}

.keybroad {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.item {
    height: 50px;
    outline: none;
    border: 1px solid rgb(212, 205, 205);
}

.item:hover {
    cursor: pointer;
    background-color: rgb(231, 185, 128);
}

.item1 {
    grid-column: 1/span 2;
    background-color: rgb(211, 89, 40);
    color: white;
    font-weight: 600;
}

.item1:hover {
    background-color: rgb(216, 51, 22);
}

.item2 {
    background-color: rgb(187, 60, 37);
    color: white;
    font-weight: 600;
}

.item2:hover {
    background-color: rgb(216, 51, 22);
}

.screen .input {
    position: absolute;
    top: 0;
    right: 5px;
    font-size: 40px;
    color: rgb(34, 33, 33);
    z-index: 10;
}