// Abstracts
@import './sass/Abstracts/functions';
@import './sass/Abstracts/mixins';
@import './sass/Abstracts/variables';
// base 
@import './sass/Base/base';
@import './sass/Base/typography';
@import './sass/Base/animations';
@import './sass/Base/utilities';
@import './sass/Base/reset.scss';
// Components
@import './sass/Components/button';
// Layouts
@import './sass/Layouts/grid';
//Pages
@import './sass/Pages/_header';
@import './sass/Pages/_calculator';
@import './sass/Pages/_todolist';

html,
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}
.wrapper {
  max-width: 420px;
  min-height: 96vh;
  margin: 0 auto;
}

button {
  font-size: 2rem;
  border: 1px solid #333;
  cursor: pointer;
}
.modifiers button {
  background-color: #ccc;
}
.operations button {
  background-color: orange;
  width: 100px;
}
.digits button {
  background-color: #efefef;
}

/* All things Grid, Flexbox, Box Alignment */
.wrapper,
.subgrid {
  display: grid;
}
.wrapper {
  grid-template-areas:
    "total total total total"
    "modif modif modif oper"
    "digit digit digit oper"
    "digit digit digit oper"
    "digit digit digit oper"
    "digit digit digit oper";
  grid-auto-columns: 1fr;
}
.show-input {
  grid-area: total;
}
.modifiers {
  grid-area: modif;
}
.operations {
  grid-area: oper;
}
.digits {
  grid-area: digit;
}

.show-input {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 20px;
  border: 1px solid rgb(112, 102, 102);
}

.modifiers {
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
}

.digits {
  display: flex;
  flex-wrap: wrap;
}
.digits button {
  flex: 1 0 26%;
}